<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Stocking Density</title>
  </head>
  <body>
    <main>
      <fieldset main="first-section">
        <nav>
          <span><a href="{% url 'stockright:index' %}">Home</a></span>
          {% if user.is_authenticated %}
            Hello {{ user.username }}
            <a href="{% url 'stockright:ponds' %}">Ponds</a>
            <a href="{% url 'users:logout' %}">Logout</a>  
          {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
          {% endif %}
        </nav>
          {% block content %}
          {% endblock content %}

      </fieldset>
  </main>
  </body>
</html>