{% extends 'stockright/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h3><a href="{% url 'stockright:pond' pond.id %}"><< Back to {{ pond }} dimensions</a></h3>
{% endblock header %}

{% block content %}
<form action="{% url 'stockright:check_stock' pond.id %}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">Check Stocking</button>
    {% endbuttons %}
</form>

{% endblock content %}