
{% extends 'stockright/base.html' %}

{% block header %}
    <h1>Ponds</h1>
{% endblock header %}

{% block content %}
    <ul>
    {% for pond in pond_type %}
        <li>
            <h3>
                <a href="{% url 'stockright:pond' pond.id %}">{{ pond.name|title }}</a>
            </h3>
            <a href="{% url 'stockright:delete_pond' pond.id %}"><small><em>Delete pond</em></small></a>
        </li>
    {% empty %}
        <li>No ponds created yet</li>
    {% endfor %}
    </ul>
    <h3><a href="{% url 'stockright:new_pond' %}">Create new pond</a></h3>

{% endblock content %}