{% extends 'stockright/base.html' %}

{% block header %}
    <h1><a href="{% url 'stockright:ponds' %}">{{ pond|title }}</a></h1>   
{% endblock header %}

{% block content %}
    {% if not densities %} 
        <li>There are no dimensions for this pond.</li>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Dimensions</h3>
        </div>
        <table class="table">
            <tr>
                <th>Pond Type</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th>Quantity to Stock</th>
                <th>Recommendation</th>
                <th>20% Decrease</th>
                <th>30% Decrease</th>
                <th>Date Checked</th>
            </tr>
            {% for density in densities %}
            <tr>
                <td>{{ density.pond.name }}</td>
                <td>{{ density.length }}</td>
                <td>{{ density.width }}</td>
                <td>{{ density.height }}</td>
                <td>{{ density.to_stock }}</td>
                <td>{{ density.verdict }}</td>
                <td>{{ density.twenty_percent_decrease }}</td>
                <td>{{ density.thirty_percent_decrease }}</td>
                <td>{{ density.date_checked|date:'M d, Y H:i'}}</td>
                <td><a href="{% url 'stockright:delete_density' density.id %}">Delete</a></td>
                <td><a href="{% url 'stockright:edit_density' density.id %}">Edit</a></td>
            </tr>
            {% endfor%}  
        </table>
    </div>
    {% endif %}
    
    <p>
        <a href="{% url 'stockright:check_stock' pond.id %}">Check new pond dimension</a>
    </p>
{% endblock content %}